<div class="bg-light">
    <div class="container">
    <div class="row p-5">
        <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <form>
                            <div class="input-group mb-3">
                                <input type="file" class="form-control"  (change)="onChange($event)" id="inputGroupFile02">
                                <label class="input-group-text" (click)="onUpload()" for="inputGroupFile02">Upload</label>
                            </div>
                            <!-- <pdf-viewer [src]="pdfSrc" [render-text]="true" [page]="currentpage"  [show-all]="false" [original-size]="true" [fit-to-page]="false" (after-load-complete)="afterLoadComplete($event)" style="display block;"></pdf-viewer> -->
                        </form>
                    </div>      
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <div class="card">
                            <div class="card-body">
                                <img class="card-img-top" [src]="imageUrl" alt="Card image cap">
                                <div class="card-body">
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>