<div class="basic-container">
	<gallery gallerize id="basic-test" imageSize="contain" fluid [items]="items"></gallery>
</div>
<div class="lightbox-example">
	<button mat-raised-button class='btn btn-secondary' color="primary" (click)="lightbox.open(0)">Open Lightbox</button>


	<button mat-raised-button  class='btn btn-primary ml-2' color="accent" (click)="lightbox.open(0, 'lightbox', {panelClass: 'fullscreen'})">Open Lightbox in fullscreen mode</button>
</div>

<div class="gallerize-example">
	<p class="container" gallerize>
		<img *ngFor="let img of imageData" [src]="img.srcUrl">
	</p>
</div>
